@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");

.navbar {
  width: 100%;
  color: white;
  position: static;
  z-index: 3;
}

.navitems {
  font-family: "Mynerve", cursive;
  color: rgb(255, 255, 0);
  font-size: 1.5rem;
}

.navitems {
  max-width: 1024px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

#icon {
  filter: invert(100%);
}

.logoLink {
  color: inherit;
  text-decoration: none;
  z-index: 10;
}
